{% extends "home/article_list.html" %}
{% load static %}

{% block title %}{{ category.name }} - Chistev{% endblock %}

{% block hero_subtitle %}
    Discover the biggest moments and trends in {{ category.name }}
{% endblock %}

{% block results_info %}
    <div class="results-info">
        <strong>{{ total_articles }}</strong> articles in <strong>{{ category.name }}</strong>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'javascript/likes.js' %}"></script>
{% endblock %}